.mat-drawer-inner-container {
  padding: 0;
  width: 260px;
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.sub-menu {
  min-height: 35px;
  line-height: 35px;
  border: none;
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sub-menu-box:hover {
  background-color: rgb(219, 219, 219);
}

.sub-menu-box {
  display: flex;
}

.sub-menu-box > span {
    width: 66px;
    text-align: center;
}

.sub-menu-name {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}

.mat-container {
  margin-left: -260px;
  box-shadow: none;
  visibility: hidden;
}

.icon-arrows-right,
.icon-arrows-down {
  margin: auto 15px;
}

.open {
  transform: scale(1) rotate(90deg);
}

.three-menu {
  padding-left: 40px;
}

.three-menu:hover {
  background-color: rgb(219, 219, 219);
}

.icon-user {
  line-height: 35px;
}
