<div class="mat-drawer-inner-container" [class.mat-container]="!matSidenavStatus">
  <!-- <ng-container *ngFor="let menu of menus"> -->
  <div *ngFor="let subMenu of selectMenu.children" class="sub-menu flex" (click)="checkedMenus('subMenu',subMenu);">
    <div class="sub-menu-box flex"
      [class.selected]="(selectSubMenu?.name == subMenu?.name) && (!subMenu.children || subMenu.children.length == 0)">
      <span class="iconfont icon-user" [style.font-size]="!matSidenavStatus ? '16px' : '14px'"></span>
      <ul class="sub-menu-name flex">
        <li>
          <span class="menu-name">{{subMenu.name}}</span>
          <span class="icon-arrows-right" [class.open]="selectSubMenu?.name == subMenu?.name"
            *ngIf="subMenu?.children && subMenu?.children.length > 0"></span>
        </li>
      </ul>
    </div>
    <!-- TODO 迷你菜单 -->
    <ul class="mini-three-menu" *ngIf="!matSidenavStatus">
      <li *ngFor="let threeMenu of subMenu.children"
        (click)="checkedMenus('threeMenu',threeMenu);$event.stopPropagation();">{{threeMenu.name}}</li>
    </ul>
    <ng-container *ngIf="(selectSubMenu?.name == subMenu?.name) && matSidenavStatus">
      <ul class="three-menu" *ngFor="let threeMenu of subMenu.children"
        [class.selected]="selectThreeMenu?.name == threeMenu?.name"
        (click)="checkedMenus('threeMenu',threeMenu);$event.stopPropagation();">
        <li>{{threeMenu.name}}</li>
      </ul>
    </ng-container>
  </div>
  <!-- </ng-container> -->
</div>
