<div class="aio-top-menu">
  <nav class="nav-menu">
    <!-- <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/hero/my-heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/dynamic" routerLinkActive="active">dynamic</a>
    <a routerLink="/router-demo" routerLinkActive="active">routerDemo</a> -->

    <!-- <button (click)="dashboard()">Dashboard</button>
    <button (click)="heroes()">Heroes</button>
    <button (click)="dynamic()">Dynamic</button> -->

    <ul role="navigation">
      <li (click)="dashboard()" title="Dashboard">Dashboard</li>
      <li (click)="heroes()" title="Heroes">Heroes</li>
      <li (click)="dynamic()" title="Dynamic">Dynamic</li>
      <li (click)="routerDemo()" title="routerDemo">routerDemo</li>
    </ul>
  </nav>
</div>
