
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.my-content {
  position: fixed;
  left: 0;
  top: 64px;
  right: 0;
  bottom: 0;
}

.breadcrumb-box {
    width: 100%;
    height: 35px;
    background: #F5F5F5;
    line-height: 2.5;
}

.breadcrumb-box app-breadcrumb {
    height: 100%;
}

.component-container {
    position: relative;
}
