<div>
  <div>
    <my-toolbar></my-toolbar>
  </div>
  <div class="my-menu">
    <!-- <nav>
      <a routerLink="/dashboard/my-dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/hero/my-heroes" routerLinkActive="active">Heroes</a>
      <a routerLink="/dynamic/dynamic" routerLinkActive="active">dynamic</a>
    </nav> -->
    <aio-top-menu></aio-top-menu>
  </div>
  <div class="my-content">
    <h1>{{title}}</h1>
    <router-outlet></router-outlet>
  </div>
</div>
