<div class="button-box full-fill flex flex-1">
  <div class="left-content">
    <div class="btn-demo-container flex flex-column" [style.width]="bodyClientWidth ? '50%' : '100%'">
      <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div>
      <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div>
      <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div>
      <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div>
    </div>
    <div #buttonDemoBox class="btn-demo-container flex" [style.width]="bodyClientWidth ? '50%' : '100%'">
      <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div>
      <!-- <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div>
      <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div>
      <div class="btn-demo-box">
        <app-button-demo [option]="option" [btnList]="buttonList"></app-button-demo>
      </div> -->
    </div>
  </div>
  <div class="right-content felx-1">
    <ul class="anchor-box">
      <li *ngFor="let anchor of buttonAnchor">
        {{anchor.name}}
      </li>
    </ul>
  </div>
</div>
