.button-box {
  padding: 10px;
  overflow: auto;
}

.button-box .left-content>div {
  min-width: 100px;
}

.btn-demo-container {
  padding: 4px 8px;
  float: left;
}

.btn-demo-box {
  padding: 42px 24px 50px;
  color: rgba(0, 0, 0, .65);
  border: 1px solid #1890ff;
  margin-bottom: 5px;
}

.btn-demo-box>div {
  flex-wrap: wrap;
}

.btn-demo-box button {
  width: 76px;
  height: 32px;
  margin: 0 8px 12px 0;
}

.button-box .right-content {
  width: 110px;
  min-width: 110px;
  border-left: 1px solid #D9D9D9;
}

.anchor-box {
  font-size: 12px;
}

.anchor-box li {
  padding: 7px 0 7px 16px;
  line-height: 1.143;
}

.anchor-box li:hover {
  color: #1890ff;
}

