<div class="home">
  <div>
    <!-- <span>dynamic</span> -->
    <p appHightlight>Highlight me!</p>
    <div class="directive-title" [class.open]="directiveShow" (click)="directiveShow = !directiveShow">
      <span>Directive</span>
      <li class="anticon" [class.anticon-right]="!directiveShow" [class.anticon-down]="directiveShow"></li>
    </div>
    <div *ngIf="directiveShow" class="directive-content">
      <h1 style="margin:0;">My first Attribute Directive</h1>
      <h4>Pick a highlight color</h4>
      <div>
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='yellow'">Yellow
        <input type="radio" name="colors" (click)="color='cyan'">Cyan
      </div>
      <p [appHighlight]="color">Highlight me！</p>
      <p [appHighlight]="color" defaultColor="violet">Highlight me to</p>
      <hr>
      <p>
        <li>Mouse over the following lines to see fixed highlights</li>
      </p>

      <p [appHighlight]="'yellow'">Highlightted in yellow</p>
      <p appHighlight="orange">Highlight in orange</p>
    </div>
    <div class="template-title" [class.open]="templateShow" (click)="templateShow = !templateShow">
      <span>Template</span>
      <li class="anticon" [class.anticon-right]="!templateShow" [class.anticon-down]="templateShow"></li>
    </div>
    <div *ngIf="templateShow" class="template-content">
      <a href="" id="toc"></a>
      <h1>Template Syntax</h1>
      <a href="#interpolation">interpolation</a>
      <br>
      <a href="#expression-context">Expression Context</a>
      <br>
      <a href="#statement-context">Statement Context</a>
      <br>
      <a href="#mental-model">Mental</a>
      <br>
      <a href="#buttons">Buttons</a>
      <br>
      <a href="#prop-vs-attrib">Properties vs. Attributes</a>
      <br>
      <br>
      <a href="#property-binding">Property Binding</a>
      <br>
      <div style="margin-left:8px;">
        <a href="#attribute-binding">Attribute Binding</a>
        <a href="#class-binding">Class Binding</a>
        <a href="#style-binding">Class Binding</a>
      </div>
      <br>
      <div style="margin-left:8px;">
        <a href="#ngFor-index">NgFor with index</a>
        <br>
        <a href="#ngFor-trackBy">ngFor with trackBy</a>
        <br>
      </div>
      <a href="#ngSwitch">NgSwitch</a>
      <br>
    </div>
    <br>
    <a href="#ref-vars">Template reference variables</a>
    <br>
    <a href="#inputs-and-outputs">Inputs and outputs</a>
    <br>
    <a href="#pipes">Pipes</a>
    <br>
    <a href="#safe-navigation-operator">Safe navigation operator
      <i>?.</i>
    </a>
    <br>
    <a href="#non-null-assertion-operator">Non-null assertion operator</a>
    <br>
    <a href="enums">Emums</a>
    <br>

    <!-- interpolation and expressions -->
    <hr>
    <h2 id="interpolation">Interpolation</h2>
    <!-- <p>My Current hero is {{currentHero.name ? currentHero.name : ''}}</p> -->

    <h3>
      {{title}}
      <img src="{{heroImageUrl}}" alt="" style="height:30px;">
    </h3>
  </div>
</div>
