<div class="flex flex1 flex-column">
  <div class="flex flex1 flex-wrap btn-show-box">
    <ng-container *ngFor="let item of mockData.buttonList">
      <button [class]="item.className"><span>{{item.name}}</span></button>
    </ng-container>
  </div>
  <section class="btn-box-meta">
    <div class="btn-box-title">
      <span>{{mockData.title}}</span>
      <span class="iconfont icon-edit"></span>
    </div>
    <div class="btn-box-describe">
      <P>{{mockData.describe}}</P>
    </div>
    <div class="btn-box-code"></div>
  </section>
</div>
