.my-toolbar {
  max-height: 64px;
}

.my-toolbar-primary {
  background: #1976d2;
  color: #fff;
}

.my-toolbar-row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mat-toolbar {
  min-width: 1080px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0 16px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.project-name {
  width: 176px;
}

.project-name a{
  text-decoration: none;
}

.project-name h1 {
  font-size: 20px;
  color: #FFF;
  padding: 10px;
  margin: 0 auto;
}

.hamburger .mat-button {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-link.home img {
  position: relative;
  margin-top: -21px;
  margin-left: 28px;
  top: 12px;
  height: 40px;
}

.home-img {
  background: url('../../../assets/images/logo-nav.png') fixed;
  width: 226px;
  height: 63px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: 10%;
  padding: 0px;
}

.mat-icon {
  width: 66px;
  height: 64px;
  text-align: center;
  line-height: 80px;
}

.mat-icon:hover {
  background-color: black;
  opacity: 0.3;
}

.mat-icon img {
  width: 24px;
  height: 24px;
}

.mat-icon button {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  outline: none;
  display: flex;
  justify-content: center;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

nav > a {
  color: #ffffff;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

/* nav>a:visited,
a:link {
  color: #607D8B;
} */

nav > a:hover {
  color: #CCCCCC;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

nav > a.active {
  color: #FFFFFF;
  background-color: rgba(255,255,255,.2);
}
